footer.flex.flex-wrap.py-8.px-8.flex-col(class="lg:flex-row")
    div.flex.flex-wrap.flex-col.items-center.text-center(class="w-full lg:w-2/3 lg:mx-auto lg:flex-row lg:items-start lg:text-left")
        div(class="w-full lg:w-1/4 mb-4 lg:mb-0")
            h2.font-extrabold.uppercase.text-white.text-sm Company
            ul.list-reset
                li.my-3.text-sm.opacity-75
                    a.text-white(href="/about-us") About Us                
                li.my-3.text-white.text-sm.opacity-75  Career                
                li.my-3.text-white.text-sm.opacity-75  Our Community                
        div(class="w-full lg:w-1/4 mb-4 lg:mb-0")
            h2.font-extrabold.uppercase.text-white.text-sm Support
            ul.list-reset
                li.my-3.text-sm.opacity-75
                    a.text-white(href="/contact") Contact Us
                //- li.my-3.text-white.text-sm.opacity-75  FAQS
        div(class="w-full lg:w-1/4 mb-4 lg:mb-0")
            h2.font-extrabold.uppercase.text-white.text-sm Social
            ul.list-reset
                li.my-3
                    a(href="https://twitter.com/meadowfoodsng").text-white.text-sm.opacity-75  #[i.fa.fa-twitter.text-white.mr-2] Twitter
                li.my-3
                    a(href="https://facebook.com/meadowfoodsnig").text-white.text-sm.opacity-75  #[i.fa.fa-facebook.text-white.mr-2] Facebook
        div(class="w-full lg:w-1/4")
            h2.font-extrabold.uppercase.text-sm.text-white.mb-4 Contact            
            p.text-sm.text-white.opacity-75 
                | No 84. Afaha Eket Road, #[br]
                | Eket, Akwa Ibom State. 