.header.bg-white.shadow.py-3.px-8.flex.justify-between.fixed.pin-l.w-full
    .brand.mr-4(class="lg:ml-4")
        img(src="images/nav-logo.png", alt="")
    div(class="block lg:hidden")
        button.border.border-green.rounded.py-2.px-4
            i.fa.fa-bars.text-green.opacity-75.text-2xl
    .nav-items(class="hidden lg:mr-8 lg:block")
        ul.list-reset.inline
            li.nav-item.inline.mx-4
                a.font-bold.uppercase.text-xs(href="") Home 
            li.nav-item.inline.mx-4
                a.font-bold.uppercase.text-xs(href="") Contact Us
            li.nav-item.inline.mx-4
                a.font-bold.uppercase.text-xs(href="") About Us
