.header.bg-white.shadow.py-3.px-8.flex.flex-wrap.justify-between.fixed.pin-l.w-full
    .brand.mr-4(class="lg:ml-4")
        a(href="/")
            img(src="images/nav-logo.png", alt="")
    div(class="block lg:hidden")
        button.border.border-green.rounded.py-2.px-4.menu-button
            i.fa.fa-bars.text-green.opacity-75.text-2xl
    .nav-items.dropdown-nav(class="hide w-full lg:w-auto lg:mr-8 lg:block")
        ul.list-reset.inline(class="lg:flex")
            li.nav-item.inline.mx-4(class="lg:block")
                a.font-bold.uppercase.text-xs(href="/") Home 
            li.nav-item.inline.mx-4(class="lg:block")
                a.font-bold.uppercase.text-xs(href="/contact") Contact Us
            li.nav-item.inline.mx-4(class="lg:block")
                a.font-bold.uppercase.text-xs(href="/about-us") About Us


