section.partners.py-8
    h2.font-extrabold.uppercase.text-center.text-sm.mt-8.mb-4 Our Partners
    div.flex.flex-wrap.justify-center.items-center.text-center.py-8.flex-col(class="lg:flex-row")
      img(src="/images/farm-crowdy.png", alt="Farm crowdyy logo" class="partner lg:ml-0 lg:mr-8")
      img(src="/images/akwa-hatchery.jpg", alt="Akwa prime hatchery" class="partner lg:ml-6 mt-6 lg:mt-0")