section.partners.py-8
    h2.font-extrabold.uppercase.text-center.text-sm.mt-8.mb-4 Our Partners
    div.flex.flex-wrap.justify-center.items-center.text-center.py-8.flex-col(class="lg:flex-row")
      img(src="http://res.cloudinary.com/hackafro/image/upload/v1517327656/farm-crowdy_simizx.jpg", alt="Farm crowdyy logo" class="partner mr-0 md:mr-4 lg:ml-0 lg:mr-8")
      img(src="http://res.cloudinary.com/hackafro/image/upload/v1517327656/edc_e0zhhg.png", alt="Akwa prime hatchery" class="partner mr-0 mt-6 md:mr-4 lg:ml-6 lg:mr-8 lg:mt-0")
      img(src="http://res.cloudinary.com/hackafro/image/upload/v1517327657/akwa-hatchery_wshbge.jpg", alt="Oxfam International" class="partner mr-0 mt-6 md:mr-4 lg:ml-6 lg:mr-8 lg:mt-0")
      img(src="http://res.cloudinary.com/hackafro/image/upload/v1517327719/oxfam_tepurg.png", alt="EDC" class="partner mr-0  mt-6 lg:ml-6 lg:mt-0")