extends layout

block title
    title About Us | Meadow Foods

block links
    link(rel="stylesheet", href="/dist/stylesheets/about.css")

block content

    section.hero-section
        .flex.flex-wrap
            .w-full.flex-col.justify-center.items-center.h-full.px-8.about-details(class="flex lg:w-3/4 lg:mx-auto lg:px-8")
                h1.font-extrabold.uppercase.tracking-wide.text-white.my-4(class="text-2xl lg:text-3xl") About Us
                h4.font-thin.text-white(class="text-sm leading-normal lg:text-lg") 
                    | At Meadow Foods, we aspire to solve global food problems
                    | by partnering with our local communities to create growth opportunities
                    | providing our customers with high quality raw and processed food whilst
                    | guaranteeing our investors with good returns on their investment. We
                    | operate a hybrid model, whereas we aspire to be profitable, we are big on social
                    | impact 
            //.w-full.side-img.flex.flex-col.justify-center.h-full.px-8(class="w-full lg:w-1/2")
                div(class="block lg:hidden")
                    h1.font-extrabold.uppercase.tracking-wide.text-white.my-4(class="text-2xl lg:text-3xl") About Us
                    h4.font-thin.text-white(class="text-sm lg:text-lg") 
                        | At Meadow Foods, we aspire to solve global food problems
                        | by partnering with our local communities to create growth opportunities
                        | providing our customers with high quality raw and processed food whilst
                        | guaranteeing our investors with good returns on their investment. We
                        | operate a hybrid model, whereas we aspire to be profitable, we are bid on social
                        | impact 

    section.story-section.my-8
        .flex.flex-wrap(class="w-full lg:w-3/4 lg:mx-auto")
            div.px-8(class="w-full lg:w-1/2")
                h2.uppercase.text-sm.font-extrabold.text-black.text-center.my-4 Our Story
                p.opacity-75.leading-normal
                    | Meadow Foods was founded as a child of necessity. Over the past decade, we had seen 
                    | a continous increase in the price of staple foods such as rice, garri in Nigeria;
                    | even though there is an abundance of land resources, global hunger continues to rise
                    | steadily. Simply put food production was not matching population rise
                    | #[br] #[br] Living in Eket(where it all began), a small town surrounded by several rural
                    | communities, we saw an abundance of fertile land and rain and the big question became
                    | what we can do with these two valuable resources #[br] #[br]
                    | Small holder farmers represent the over 70% of farmers in Africa, however they are
                    | limited by funds to get the necessary farm inputs, they lack capacity for modern farming
                    | practices and they do not have the access to markets that gives them commensurate value
                    | for their product 

            .text-center.py-6.flex.items-center.justify-center.px-6(class="w-full lg:w-1/2")
                img.shadow-lg(src="http://res.cloudinary.com/hackafro/image/upload/v1517327656/cassava-field_n9umhp.jpg", alt="Meadow staff in farm")

    
    section.team-section.my-4.py-8
        h2.uppercase.text-sm.font-extrabold.text-black.text-center.my-4 Our Team

        .flex.flex-wrap(class="w-full lg:w-3/4 lg:mx-auto")
            div(class="w-full lg:w-1/2 p-8 text-center")
                img.team-icon.bg-transparent(src="http://res.cloudinary.com/hackafro/image/upload/v1517327599/001-student_kob1rh.svg", alt="Team work")
                p.text-grey.text-center.mt-8
                    | We have a team of highly dedicated people that #[br] work to help us grow and move forward #[br] as an institution

            div(class="w-full lg:w-1/2 px-8 flex items-center justify-center")
                div(class="")
                    div.team-member.w-32.h-32.rounded-full.my-8
                        img(src="", alt="")
                    div.team-member.w-32.h-32.rounded-full
                        img(src="", alt="")
                div(class="ml-8").hollow-second
                    div.team-member.w-32.h-32.rounded-full.my-8
                        img(src="", alt="")
                    div.team-member.w-32.h-32.rounded-full
                        img(src="", alt="")

    
    section
        h2.uppercase.text-sm.font-extrabold.text-black.text-center.my-4 Our projects impact
        
        div.impacts.px-8.py-6
            div.flex.flex-wrap
                div.text-center(class="w-full mb-6 lg:w-1/4 lg:mb-0")
                    h1.text-white.font-extrabold.text-4xl 100+
                    p.text-white Farmers
                div.text-center(class="w-full mb-6 lg:w-1/4 lg:mb-0")
                    h1.text-white.font-extrabold.text-4xl 1000+
                    p.text-white Farms Hands Engaged
                div.text-center(class="w-full mb-6 lg:w-1/4 lg:mb-0")
                    h1.text-white.font-extrabold.text-4xl 400+
                    p.text-white Community Projects
                div.text-center(class="w-full mb-6 lg:w-1/4 lg:mb-0")
                    h1.text-white.font-extrabold.text-4xl 1
                    p.text-white Community Road

    include ./partials/partners
