html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="We aim to improve food security in Africa. At Meadow Foods, we aspire to solve global food challenges by partnering with our local communities to create growth")
    meta(name="og:description" content="We aim to improve food security in Africa. At Meadow Foods, we aspire to solve global food challenges by partnering with our local communities to create growth")
    meta(name="og:image" content="https://meadowfoods.herokuapp.com/images/nav-logo.png")
    meta(name="og:image" content="https://meadowfoods.herokuapp.com/images/IMG_1182.png")
    meta(name="og:type" content="website")

    meta(itemprop="name" content="Meadow Foods")
    meta(itemprop="description" content="We aim to improve food security in Africa. At Meadow Foods, we aspire to solve global food challenges by partnering with our local communities to create growth")
    meta(itemprop="image" content="https://meadowfoods.herokuapp.com/images/nav-logo.png")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Meadow Foods")
    meta(name="twitter:description" content="We aim to improve food security in Africa. At Meadow Foods, we aspire to solve global food challenges by partnering with our local communities to create growth")

    block meta
      meta(name="og:title" content="Meadow Foods")

    block title
      title Meadow Foods 
    link(rel="stylesheet", href="dist/stylesheets/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    
    block links

  body
    include ./partials/header
    block content
    include ./partials/footer

    script(src="/build/javascripts/site.js")
    block scripts
    
